body {
    font-family: 'Kanit', sans-serif;
}

a {
    color: #ffffff;
}

.menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    pointer-events: auto;
}

.label {
    opacity: 0.5;
    font-size: 30px;
    text-align: center;
    color: black;
    background: rgba(179, 179, 179, 0.85);
    /*outline: 5px solid rgba(12, 25, 25, 1.0); */
    border: 0px;
    margin-bottom: 0px;
    padding: 15px 15px;
    border-radius: 20px;
}

.pin {
    opacity: 0.5;
    font-size: 70px;
    text-align: center;
    color: rgb(94, 43, 91);
    background: transparent;
    border: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.boxface {
    opacity: 0.5;
    width: 90px;
    height: 90px;
    font-size: 25px;
    text-align: center;
    color: black;
    background: rgba(127, 255, 255, 0.85);
    outline: 5px solid rgba(12, 25, 25, 1.0);
    border: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

button {
    opacity: 0.5;
    text-align: center;
    color: black;
    background: rgba(127, 255, 255, 0.85);
    outline: 5px solid rgba(12, 25, 25, 1.0);
    border: 0px;
    margin-bottom: 0px;
    font-size: 16;
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    color: rgba(127, 255, 255, 0.85);
    background: black;
}