#zone_btn{
	position: absolute;
	top: 28%;
}
h1{
	font-size: 2rem;
	font-family: sans-serif;
}

#title_jinda{
	position: absolute;
	top: 13%;
	left: 32%;
}

#title_keki{
	position: absolute;
	top: 13%;
	left: 30%;
}

#title_fbt{
	position: absolute;
	top: 13%;
	left: 12%;
}

.edit_reslist{
	display: inline-block;
	width: 150px;
	height: 65px;
	background-color: white;
	color: black;
	border: 2px solid #212654;
}

.edit_reslist:hover {
	background-color: #212654;
	color: white;