/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	max-height: 100%;
	max-width: 100%;
}

/* Optional: Makes the sample page fill the window. */
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Kanit', sans-serif;
}

/*/*for mobile*/
@media only screen and (max-width: 425px) {
	#map {
		height: 523px;
		width: 425px;
	}

	#zone_header, #check_header{
		width: 100%;
		text-align: center; 
		padding: 10px;
	}

	#check_header{
		height: 10%;
		color: white;
		font-size: 16px;
	}
	
	#zone_header{
		height: 20%;
		background-color: white;
		color: black;
		font-size: 18px;
	}
	#tutorial_btn{
		position: absolute;
		top: 520px;
		right: 35px;
		box-shadow: 10px 10px 5px grey;

	}
}