*{box-sizing: border-box;}
body{
	margin: 0;
	padding: 0;
	font-family: monospace;
	overflow: hidden;
	font-family: 'Kanit', sans-serif;

}

/*/*for mobile*/
@media only screen and (max-width: 425px) {
.bg-gradient{
	width:100%;
  	height: 100%;
  	position: absolute;
  	top: 0px;
	background: linear-gradient(30deg, rgba(28,32,72,1) 0%, rgba(94,43,91,1) 100%);
}
.cont_splash{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 150px;
	z-index: 1;
}
#logo{
	width: 100px;
	height: 100px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#name{
	font-size: 2rem;
	letter-spacing: 2.5px;
	color: white;
}

/*.load_frame{
	width: 70px;
	height: 70px;
	margin: auto;
	position: relative;
}
#load1,.loader{
	position: absolute;
	border: 5px solid transparent;
	border-radius: 50%;
}
#load1{
	width: 70px;
	height: 70px;
	border-bottom: 5px solid yellow;
	border-top: 5px solid yellow;
	animation: clockspin 1s linear 2;
}
#load2{
	width: 70px;
	height: 70px;
	border-bottom: 5px solid orange;
	border-top: 5px solid orange;
	top: 5px, left:5px;
	animation: anticlockspin 1s linear 2;
}

@keyframes clockpin{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@keyframes anticlockspin{
	from{transform: rotate(0deg);}
	to{transform: rotate(-360deg);}
}*/
@keyframes fadeout{
	from{opacity: 1;}
	to{opacity: 0}
}
}