    body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-image: white;
}


/*/*for mobile*/

@media only screen and (max-width: 425px) {
    #title {
        text-align: center;
        margin-top: 3rem;
        color: aliceblue;
    }
    #cont_1,
    #cont_2,
    #cont_3 {
        margin-top: 1rem;
        color: #ffff;
    }
    .bullet {
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border-radius: 50%;
        background: #ffffff;
        z-index: 1em;
        margin-right: 1em;
        text-align: center;
        justify-content: center;
        color: white;
        font-size: x-large;
    }