#zone_btn{
	position: absolute;
	top: 35%;
}
h1{
	font-size: 2rem;
	position: absolute;
	top: 20%;
	left: 22%;
	font-family: sans-serif;
	text-align: center;
}
.edit_zone{
	width: 340px;
	height: 50px;
	padding: 10px;
	background-color: #5e2b5e;
	color: white;
}